@import "./../styles/variables.scss";

.container {
  margin: auto;
  width: 100%;
  height: auto;
  .containerInfo {
    max-width: 73rem;
    margin: auto;
  }
  .html {
    h1 {
      font-size: 4rem;
      line-height: 5rem;
    }
    h2 {
      font-size: 2.4rem;
      line-height: 3rem;
    }
    h3 {
      font-size: 2.2rem;
      line-height: 3rem;
    }
    p,
    li {
      font-size: 1.8rem;
      line-height: 3rem;
    }
    ul {
      list-style: none; /* Remove default bullets */
    }

    ul li::before {
      content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $primary; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }
  .imagesContainer {
    max-width: 73rem;
    img {
      border-radius: 0.4rem;
      width: 100%;
      height: auto;
    }
    .title {
      font-size: 2.2rem;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
    .imagesRow {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;
      border-radius: 5px;
      margin-bottom: 6rem;
      img {
        width: 100%;
        height: auto;
      }
    }
    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      margin-bottom: 6.2rem;
      .images {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-gap: 3.6rem;
        .imagesPair {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 3rem;
        }
      }
      .text {
        .title {
          font-size: 2.2rem;
        }
        .content {
          font-size: 1.8rem;
        }
      }
    }
    .sectionRelated {
      padding: 0;
      & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 3rem;
      }
      .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 3rem;
        place-items: center;
        margin-bottom: 0rem;
        div {
          grid-gap: 0;
          > div {
            font-size: 1.6rem;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
