@import "./../../styles/variables.scss";

.container {
  border-radius: 0.4rem;
  overflow: hidden;
  .image {
    width: 100%;
    height: auto;
  }
  .containerData {
    padding: 4rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1rem;
    .title {
      font-size: 2.4rem;
      line-height: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    .date {
      font-size: 1.4rem;
    }
    .description {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }
  &.primary {
    padding: 4rem;
    background: $white;
    color: $black;
    .containerData {
      grid-gap: 1rem;
      padding: 0rem;
      margin-top: 2rem;
    }
    .title {
      font-size: 2.4rem;
      text-transform: uppercase;
    }
    .date {
      font-size: 1.4rem;
    }
    .description {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }
  &.secondary {
    background: $primary;
    color: $black;
    border-radius: 0.4rem;
    .title {
      font-size: 2.4rem;
      text-transform: uppercase;
    }
  }
  &.tertiary {
    grid-gap: 4rem;
    background: transparent;
    display: grid;
    place-items: center;
    color: $white;
    .image {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
    }
    .containerData {
      place-items: center;
      font-size: 1.7rem;
      padding: 0;
    }
    .title {
      text-transform: uppercase;
      font-size: 2.4rem;
    }
    .description {
      font-size: 1.6rem;
    }
  }
  &.long {
    grid-gap: 2rem;
    grid-template-columns: 25.5rem 1fr;
    color: $black;
    display: grid;
    margin-bottom: 2rem;
    box-sizing: border-box;
    background-color: $white;
    .image {
      width: 25.5rem;
      height: 16rem;
      object-fit: cover;
    }
    .date {
      margin-bottom: 2rem;
    }
    .containerData {
      padding: 0;
    }
    &.white-bg {
      background-color: $white;
      height: 38rem;
    }
  }
  &.highlighted {
    background: $white;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding: 4rem;
    overflow: visible;
    .containerData {
      place-items: start;
      font-size: 1.7rem;
      padding: 0;

      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-gap: 1rem;
    }
    .title {
      margin-left: -5rem;
      padding: 1.2rem 3rem 1.2rem 4rem;
      text-transform: uppercase;
      font-size: 2.4rem;
      color: $white;
      background: $black-light;
      border-radius: 0.4rem;
    }
    .description {
      font-size: 1.8rem;
      color: $black;
    }
  }
}
