@import "./../../styles/variables.scss";

.container {
  position: relative;
  margin: auto;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -170px -170px 0 0 #73ab88;
    z-index: 99;
    width: 340px;
    height: 340px;
    border-radius: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 170px 170px 0 0 #9aae04;
    z-index: 99;
    width: 340px;
    height: 340px;
    border-radius: 50%;
  }
}

.carrousel {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.triggerLeft:active,
.triggerRight:active {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.triggerLeft,
.triggerRight {
  user-select: none;
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  background: red;
}
.triggerLeft {
  left: 0rem;
  margin-left: 8.5rem;
}
.triggerRight {
  right: 0rem;
  margin-right: 8.5rem;
}

.containerContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  grid-row-start: 1;
  grid-row-end: span 2;
  z-index: 50;
  grid-column: 1;
}

.containerContent::-webkit-scrollbar {
  width: 20px;
  height: 0px;
}

.contentItem {
  scroll-snap-align: start;
  height: 100%;
}
.content {
  position: relative;
}
.arrows {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  z-index: 100;
  pointer-events: none;
  grid-row: 1/3;
  grid-column: 1;
  &:hover {
    color: $primary;
  }
}
.arrowRight,
.arrowLeft {
  font-size: 3rem;
  color: $white;
  &:hover {
    cursor: pointer;
    color: $primary;
  }
}

.arrowLeft {
  margin-left: 8.5rem;
  justify-self: start;
}
.arrowRight {
  margin-right: 8.5rem;
  justify-self: end;
}
.bulletContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 13rem;
  // pointer-events: none;
  bottom: 4rem;
  z-index: 100;
}

.bullets {
  display: flex;
  justify-content: space-between;
}

.bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid black;
  background: black;
}

.footer {
  bottom: 0;
  background: $primary;
  color: white;
  padding: 2rem 4rem;
}
