@import "./../../styles/variables.scss";

.container {
  padding: 4rem 15rem;
  @media (max-width: $bpM) {
    padding: 2rem 0;
  }
  @media (max-width: $bpS) {
    padding: 2rem 4rem;
  }
  .title {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin: 0 0 2rem 2rem;
    text-transform: uppercase;
    color: $primary;
    &:before {
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 100%;
      background: $primary;
      border-radius: 1rem;
      border: 1px solid $white;
      transform: translate(-200%, -5%);
    }
  }
  &.solidBg {
    background: $bgLight;
  }
  &.bgImage {
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.secondary {
    position: relative;
    color: $white;
    background-color: $primary;
    overflow: hidden;
    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 99;
      width: 340px;
      height: 340px;
      border-radius: 50%;
      clip-path: square(170px);
    }

    &:before {
      top: 0;
      left: 0;
      box-shadow: -170px -170px 0 0 $white;
    }

    &:after {
      bottom: 0;
      right: 0;
      box-shadow: 170px 170px 0 0 $white;
    }
  }
}
